@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');

$line: #ccc;

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	min-width: 100%;
	min-height: 100%;

	padding: 0;
	margin: 0;

	font: 100%/1.5 'Josefin Sans', sans-serif;

	line-height: 1.5;

	background: #eee;
	color: #333;
}

body {
	padding: 0;
	margin: 1em 0;
}

main {
	background: #fff;
	border-radius: .25em;
	margin: 1em auto !important;
	padding: 1em;
}

h1, h2, h3, h4 {
	color: #111;
	margin: .5em 0;
	padding: 0;
	font-weight: 600
}

h1:first-of-type {
	margin: 0;
}

.container {
	max-width: 60rem;
	width: 100%;
	margin: 0 auto;
}

.margin-center {
	margin: 0 auto;
}

#page-footer, #page-header {
	text-align: center;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

ul.inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;

	li {
		display: inline-block;

	}
}

ul.inline-separated li:not(:last-child)::after { content: ' - '; }

.text-center {
	text-align: center 
}

#avatar {
	max-width: 300px;
	border: 2px solid #ccc;
	float: left;
	margin-right: 1em;
}

#logo {
	height: 2.4rem;
}

main#front-page h1, #logo {
	display: inline-block;
	vertical-align: text-top;
}

main#front-page #logo {
	margin-right: .5em;
}

#logo-wrapper {
	text-align: center;
}

div#top-wrapper {
	padding-bottom: 1em;
	border-bottom: 1px dashed $line;
}

div#identity-summary {	
	display: flex;
	align-items: center;
	justify-content: center;
	div#dl-wrapper {
		width: min-content;
		margin: 0 auto;
		dl {
			display: grid;
			grid-template-columns: repeat(3, max-content);

			div {
				display: grid;
				padding: 0 1em;
				line-height: 100%;

				&:not(:last-child) {
					border-right: 1px #000 solid;
				}

				dt {
					grid-column-start: 1;
					font-weight: 600;
					font-size: 80%;
					vertical-align: middle;

					&::after {
						content: ": ";
						margin-right: 1em;
					}
				}

				dd {
					grid-column-start: 2;
					text-align: right;
					margin: 0;
				}
			}
		}
	}
}

#icon-row { 
	display: block;
	width: max-content;
	margin: 0 auto;
}

#icon-row svg { font-size: 125%; margin-right: .25em; }

.grid {
	display: grid;
}

.grid-front {
	grid-template-columns: 300px auto;
}

dl.inline {
	display: grid;
	margin: 0;
	grid-template-columns: minmax(auto, max-content);
	dt {
		grid-column-start: 1;
	}

	dd {
		grid-column-start: 2;
		margin: 0;
	}
}

.clientfp {
	overflow: hidden;
	text-overflow: ellipsis;
}

dl.themed {
	dt, dd {
		padding: .5em;
	}

	svg {
		margin-left: .5em;
	}

	dt {
		text-align: right;
		border-right: 1px dashed $line;
	}

	dd {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	dt:not(:last-of-type), dd:not(:last-of-type) {
		border-bottom: 1px solid $line;
	}
}

section#identity-summary ul {
	margin-left: 1em;

	li:not(:first-child) {
		margin: 0 .5em;
	}
}

section {
	margin: .5em 0;
}

a, a:link {
	color: #9570DD;
}

a:hover {
	color: #693699;
}

a#home {
	text-decoration: none;
	color: #5a4b68;
	font-weight: 600
}

code {
	display: inline-block;
	border-radius: .3em;
	padding: .25em .75em;
	background: #ccc;
	color: darken(#693699, 10%);
	overflow-wrap: anywhere;
	text-indent: 0;
}
.project {
	display: inline;
}


details {
	summary {
		padding-bottom: .5em;
		svg {
			margin-left: .5em;
		}
	}
	&[open] summary {
		border-bottom: 1px dashed $line;
	}
}

// :checked
input:checked {
	+ .tab-label {
		background: darken(#bbb, 10%);
		&::after {
			transform: rotate(90deg);
		}
	}
	~ .tab-content {
		max-height: 100vh;
		padding: 1em;
	}
}

input {
	position: absolute;
	opacity: 0;
	z-index: -1;
}
@media only screen and (max-width: 800px) {
	.grid {
		display: block;
	}

	#avatar {
		float: none;
		max-width: 100%;
		margin: 0 auto 1em auto;
		display: block;
	}

	#logo-wrapper {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

@media only screen and (max-width: 420px) {
	#dl-wrapper {
		width: 100% !important;
		dl {
			width: 100%;
			display: block !important;
			div {
				width: 100%;
				border-right: none !important;
			}
		}
	}
}
