@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;600;700&display=swap');
@import url('css/all.css');

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	min-width: 100%;
	min-height: 100%;

	padding: 0;
	margin: 0;

	font: 100%/1.5 'Josefin Sans', sans-serif;
	
	line-height: 1.5;

	background: #eee;
	color: #333;
}

body {
	padding: 0;
	margin: 1em 0;
}

main {
	background: #fff;
	border-radius: .25em;
	margin: 1em auto !important;
	padding: 1em;
}

h1, h2, h3, h4 {
	color: #111;
	margin: .5em 0;
	padding: 0;
	font-weight: 600
}

h1:first-of-type {
	margin: 0;
}

.container {
	max-width: 60rem;
	width: 100%;
	margin: 0 auto;
}

.margin-center {
	margin: 0 auto;
}

#page-footer, #page-header {
	text-align: center;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

ul.inline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;

	li {
		display: inline-block;
		
	}
}

ul.inline-separated li:not(:last-child)::after { content: ' - '; }

.text-center {
	text-align: center 
}

#avatar {
	max-width: 300px;
	border: 2px solid #ccc;
	float: left;
	margin-right: 1em;
}

#logo {
	height: 2.4rem;
}

main#front-page h1, #logo {
	display: inline-block;
	vertical-align: text-top;
}

main#front-page #logo {
	margin-right: .5em;
}

section#identity-summary dl {
	display: grid;
	grid-template-columns: repeat(3, max-content);

	div {
		display: grid;
		padding: 0 1em;
		line-height: 100%;

		&:not(:last-child) {
			border-right: 1px #000 solid;
		}

		dt {
			grid-column-start: 1;
			font-weight: 600;
			font-size: 80%;
			vertical-align: middle;

			&::after {
				content: ": ";
				margin-right: 1em;
			}
		}
		  
		dd {
			grid-column-start: 2;
			text-align: right;
			margin: 0;
		}
	}
}

i.fas, i.fab {
	margin-right: .5em;
	line-height: 1.5 !important;
}

#icon-row {
	display: inline-block;
	margin-left: 1em;
	i {
		font-size: 125%;
	}
}

dl.themed {
	background: #ececec;
	border-radius: .25em;

	dt, dd {
		padding: 1em;
	}

	i {
		margin-left: .5em;
		margin-right: 0;
		vertical-align: bottom;
	}
	
	dt {
		text-align: right;
		border-right: 1px dashed #ccc;
	}

	dd {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	dt:not(:last-of-type), dd:not(:last-of-type) {
		border-bottom: 1px solid #ccc;
	}
}

dl.inline {
	display: grid;
	margin: 0;
	grid-template-columns: minmax(8.5rem, max-content);
		dt {
			grid-column-start: 1;
		}
		  
		dd {
			grid-column-start: 2;
			margin: 0;
		}
}

section#identity-summary ul {
	margin-left: 1em;

	li:not(:first-child) {
		margin: 0 .5em;
	}
}

section {
	margin: .5em 0;

	p {
		text-indent: 1em;
	}
}

a, a:link {
	color: #9570DD;
}

a:hover {
	color: #693699;
}

a#home {
	text-decoration: none;
	color: #5a4b68;
	font-weight: 600
}

.project {
	margin-right: .25em;
	display: inline;
}

@media only screen and (max-width: 800px) {
	section#identity-summary dl {
		display: block;

		div:not(:last-child) {
			border-right: none;
		}
	}

	#avatar {
		float: none;
		max-width: 100%;
		margin: 0 auto 1em auto;
		display: block;
	}

	#logo-wrapper {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}