<!DOCTYPE html>
<html lang="{{ site.lang }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1">
	<title>{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.name }}</title>
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
	<script defer src="/assets/fa/js/all.js"></script>
	<meta property="og:type" content="website">
	<meta property="og:title" content="{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.name }}">
	<meta property="og:image" content="https://kittywit.ch/assets/system-avatar.png">
	<meta property="og:image:alt" content="A purple-haired glasses-wearing collared pale-skinned catgirl wearing a white t-shirt and a black jumper.">
	<meta property="og:description" content="The personal website of katrin &quot;kat&quot; witch.">
	<meta property="og:site_name" content="{{ site.name }}">
	<meta property="og:locale" content="en_GB">
	<meta property="article:author" content="katrin witch">
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="@floofywitch">
	<meta name="twitter:creator" content="@floofywitch">
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }} &raquo; {% endif %}{{ site.name }}">
	<meta name="twitter:description" content="The personal website of katrin &quot;kat&quot; witch.">
	<meta name="twitter:image" content="https://kittywit.ch/assets/system-avatar.png">
	<meta name="twitter:image:alt" content="A brown-haired pale-skinned glasses-wearing collared girl in a black apron and a white jumper.">
	<link rel="icon" sizes="192x192" href="/assets/favicon.png">
	<link rel="apple-touch-icon" href="/assets/favicon.png">
	<link rel="mask-icon" href="/assets/favicon.svg" color="blue">
	{% feed_meta %}
</head>
<body>
	{% include navbar.html %}

	{{ content }}

	{% include footer.html %}
</body>
</html>
